<h1>List of dogs</h1>
<ul>
  <% for(var i = 0; i < dogs.length; i++)  { %>
    <li><%= dogs[i].dog_name %></li>
      <li><%= dogs[i].dog_breed %></li>
        <li><%= dogs[i].dog_weight %></li>

  <% } %>

</ul>
